@charset "utf-8";
/*font*/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NotoSans-Light.otf) format('opentype'),
		 url(../font/NotoSans-Light.woff) format('woff'),
		 url(../font/NotoSans-Light.woff2) format('woff2');
  }
 @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSans-Regular.eot');
    src: local(※), url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url(../font/NotoSans-Regular.otf) format('opentype'),
		 url(../font/NotoSans-Regular.woff) format('woff'),
		 url(../font/NotoSans-Regular.woff2) format('woff2');
  }
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSans-Medium.otf) format('opentype'),
		 url(../font/NotoSans-Medium.woff) format('woff'),
		 url(../font/NotoSans-Medium.woff2) format('woff2');
  }
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NotoSans-Bold.eot');
    src: local(※), url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url(../font/NotoSans-Bold.otf) format('opentype'),
		 url(../font/NotoSans-Bold.woff) format('woff'),
		 url(../font/NotoSans-Bold.woff2) format('woff2');
  }
/*reset*/
*,
*::before,
*::after {box-sizing: inherit;}
html, body, div,
h1, h2, h3, h4, h5, h6, p, a, i,
dl, dt, dd, ol, ul, li {padding:0; margin:0;}
html, body {-webkit-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;}
body {position:relative; font-family:'Noto Sans KR', Verdana, Tahoma, Dotum, 'Dotum'; color: #4d5256;}
h3 {font-weight: 500;}
h4,h5,h6,th {font-weight:400;}
ul, ol {list-style:none;}
table {border-spacing:0;}
img {display: block;}
label {cursor:pointer;}
input[type="checkbox"] + label, input[type="radio"] + label {display: inline-block;}
label + input[type="checkbox"], label + input[type="radio"] {margin-left: 1rem;}
i, em, address {font-style:normal}
caption,legend {visibility:hidden;width:0px;height:0px;font-size:0px;line-height:0px}
p, div, span, ul, ol, li, dl, dt {word-break:keep-all;}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {cursor:pointer; -webkit-appearance:button;}
.btn, button,input,select,textarea {vertical-align: middle; box-sizing: border-box; font-family:'Noto Sans KR', Verdana, Tahoma, Dotum, 'Dotum';}
input[type="checkbox"], input[type="radio"] {vertical-align: baseline;}
button {background: transparent; border: 0;}
input,select, textarea {border: 1px solid #ced3d6; padding: .375rem .5rem; margin: 0;}
input[type="text"],input[type="password"],input[type="file"],select {width: 100%; font-size: .75rem;}
input:disabled, select:disabled {background: #eaeeef; color: #878d91;}
input:focus, select:focus {border-color: #2196f3; box-shadow: 0 0 6px 0 rgba(33, 150, 243, 0.35);}
.error input, .error select {border-color: #d10a00; box-shadow: 0 0 6px 0 rgba(244, 67, 54, 0.35); color: #d10a00;}
.success input, .success select {border-color: #41bd64;}
textarea {resize:none; width: 100%;}
a:link {text-decoration: none; color: #4d5256;}

span.hidden {overflow: hidden; width: 1px; height: 1px; clip: rect(1px,1px,1px,1px); clip-path: inset(50%); position: absolute;}

/* clearfix */
.clearfix{ *zoom:1;}
.clearfix:before, .clearfix:after {display:table; content:''; line-height:0;}
.clearfix:after {clear:both;}

/*text align set*/
.text-center{text-align:center !important;}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}

/*float set*/
.fl-left{float:left;}
.fl-right{float:right;}

/* flex layout */
.wrap {display: flex; flex-direction: column; min-height: 100vh;}
footer {margin-top: auto;}

/* grid */
.row {display: flex; margin: 0 -.75rem; flex-wrap: wrap;}
[class*="col-"] {width: 100%; box-sizing: border-box; padding: 0 .75rem;}
.col-1 {max-width: 8.333333%;}
.col-2 {max-width: 16.666667%;}
.col-3 {max-width: 25%;}
.col-4 {max-width: 33.333333%;}
.col-5 {max-width: 41.666667%;}
.col-6 {max-width: 50%;}
.col-7 {max-width: 58.333333%;}
.col-8 {max-width: 66.666667%;}
.col-9 {max-width: 75%;}
.col-10 {max-width: 83.333333%;}
.col-11 {max-width: 91.666667%;}
.col-12 {max-width: 100%;}

svg {width: 1.5rem; height: 1.5rem; vertical-align: top;}

/* skipnav */
#skipnav a {display: block; position: absolute; left: 0; top: -10000px;}
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {top: 0; padding: 15px 0; background: #004b9d; color: #fff; text-align: center; z-index: 1001; width: 100%;}

/* top button */
.btn-top {position: fixed; bottom: .5rem; left: .5rem; display: none; padding: .5rem 1rem; z-index: 1000; box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: rgba(255, 255, 255, 0.8);}
.btn-top svg {transform: rotate(90deg); margin: 0;}
.btn-top:hover {background: #545454;}
.btn-top:hover:before {color: #fff;}

/* header */
header {display: flex; align-items: center; padding: .5rem; position: relative; box-shadow: 2.939px 4.045px 35px 0px rgba(0, 0, 0, 0.25); background: rgba(255, 255, 255, .3);}
header h1 {font-size: 1.25rem; letter-spacing: -1px;}
header h1 a {color: #004ea2;}
header span {margin-left: auto;}
   
/* footer */
footer {border-top: 1px solid #eee; padding: .5rem; font-size: .5rem; color: #929292;}

/* main contents */
main {padding: 1rem;}
h2 {text-align: center; border-bottom: 2px solid #e9e9e9; padding: 1rem 0; margin-bottom: 1rem; position: relative;}
h2 p {font-size: .875rem; color: #a8a8a8; font-weight: 400;}
h3 {margin-bottom: .5rem; display: flex;}
h3 label {display: inline-flex; align-items: center; margin-left: auto; font-size: 1rem; font-weight: 400;}
h3 em {color: #008cee; margin-left: .5rem;}
article {margin-top: 2rem;}

/* intro */
.intro {background: url("../images/m/m-intro-bg.jpg") center bottom 0/cover;}
.intro main {display: flex; align-items: center; justify-content: center; box-sizing: border-box; min-height: calc(100vh - 2.5rem);}
.intro main div {display: flex; flex-direction: column;}
.intro main div .btn {margin: 0; box-shadow: 2.364px 1.847px 7px 0px rgba(0, 0, 0, 0.64);}
.intro main div .btn:first-child {background: rgba(38, 106, 182, .7);}
.intro main div .btn:last-child {background: rgba(255,255,255,.8); color: #282828; margin-top: 1rem;}

/* search */
.search {margin: 1rem 0;}
.search, .search ul li {display: flex;}
.search ul {flex: 1;}
.search ul li:not(:first-child) {margin-top: .5rem;}
.search .btn-search {border: 1px solid #c4d6e6; background: #dde7f0; color: #004ea2; border-radius: .25rem; padding: 0 1rem; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-left: .5rem;}
.search .btn-search svg {fill: #004ea2; margin: 0;}
.search select + select {margin-left: .5rem;}

.box {background: #e9e9e9; padding: 1rem;}
.box dt {font-weight: 500;}
.box dt:not(:first-child) {margin-top: 1rem;}
.box dd {word-break: normal;}

.link-group {display: flex; flex-direction: column;}
.link-group label {background: #fff; padding: .5rem 1rem; margin-bottom: .5rem;}
.link-group a:not(.btn) {background: #ececec; padding: .5rem 1rem; margin-bottom: .5rem; color: #000; position: relative; display: flex; align-items: center;}
.link-group a:not(.btn)::after {content: ''; border: solid #bebebe; border-width: 1px 1px 0 0; padding: .25rem; display: inline-block; transform: rotate(45deg); position: absolute; right: 1rem;}
.link-group a:not(.btn).active, .link-group a:not(.btn):hover {background: #2eaaf2; color: #fff;}
.link-group a:not(.btn).active::after, .link-group a:not(.btn):hover::after {border-color: #fff;}
input[type="checkbox"] + svg, input[type="radio"] + svg {fill: #d9d9d9; margin-right: .25rem;}
input[type="checkbox"]:checked + svg, input[type="radio"]:checked + svg {fill: #008cee;}

/* accordion */
ol {counter-reset: li;}
ol h4:before {counter-increment: li; content: counter(li)'. ';}
ol h5:before {counter-increment: li; content: counters(li, '-')'. ';}
ol > li li::before {counter-increment: li; content: counter(li); border: 1px solid #aaa; border-radius: 50%; display: inline-flex; width: 1rem; height: 1rem; margin-right: .25rem; align-items: center; justify-content: center; text-indent: 0;}

.accordion {border: 1px solid #ddd; background: #fff; padding: .5rem 1rem;}
.accordion ol {margin-left: 1rem;}
.accordion li:not(:first-child) {margin-top: 1rem;}

.accordion .btn-group {margin: .5rem 0; flex-direction: column;}
.accordion .btn-group > div {display: flex; align-items: center;}
.accordion .btn-group > div + div {margin-top: .5rem;}
.accordion .btn-group label {margin-right: .5rem; font-size: .75rem;}
.accordion button {background: #acacac; position: relative; display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 1.375rem; height: 1.375rem; margin-left: auto;}
.accordion button::before, .accordion button::after {content: ''; border-left: 2px solid #fff; height: .75rem; position: absolute; transform: rotate(90deg);}
.accordion li button::after {transform: rotate(0deg);}
.accordion li.on button {background: #ddd;}
.accordion li.on button::after {content: none;}
.accordion li:not(.on) > table {display: none;}

.list-img div {/*border: 1px solid #ddd;*/ border-radius: .25rem;}
.list-img div img {width: 100%;}
.list-img h4 {padding: .5rem 0; border-bottom: 1px solid #ddd; margin-bottom: .5rem; font-weight: 500;}
.list-img > li {width: 49%; display: inline-flex; flex-direction: column;}
.list-img > li:nth-child(2n + 3) {margin-top: .5rem;}
.list-img > li li {font-size: .75rem; text-indent: -1.25rem; margin-left: 1.25rem; margin-bottom: .25rem;}


.write h3 {font-size: 1.375rem; margin-bottom: 1.5rem;}
.write ul {border-top: 2px solid #ced3d6; border-bottom: 1px solid #ced3d6; padding: 1.5rem 0;}
.write li {display: flex; position: relative;}
.write li:not(:first-child) {margin-top: 1.5rem;}
.write li div {flex: 1; position: relative;}
.write li div:not(:first-child) {margin-left: 1rem;}
.write p {left: auto; padding-left: .75rem; top: 100%; display: flex; width: 100%;}
.write p span {margin-left: auto;}
.write button {position: absolute; right: 0; bottom: .5rem;}
.success svg {fill: #41bd64;}
.error svg {fill: #da1e27;}
.write .btn-group {margin-top: 1rem; text-align: center;}
.write .btn-group .btn {width: 15rem; justify-content: center;}


.control {position: absolute; right: 1rem; bottom: 1rem;}
.control ul li {background-color: #fff; box-shadow: 2.939px 4.045px 10px 0px rgba(0, 0, 0, 0.16); border: 1px solid #ddd; border-radius: .25rem; position: relative; font-size: .75rem; text-align: center; padding: .5rem ; display: flex; flex-direction: column; align-items: center;}
.control ul li.blue {background-color: #008cee; color: #fff;}
.control ul li:not(:first-child) {margin-top: .5rem;}
.control svg {fill: #929292; margin: 0; width: 1.25rem; height: 1.25rem;}
.control .blue svg {fill: #fff;}


/* legend */
.legend {position: absolute; bottom: .5rem; right: .5rem; display: block; padding: .75rem 1rem;}
.legend p {font-size: .875rem; margin-bottom: .25rem;}
.legend li::before {content: ''; width: 1.875rem; height: .75rem; border: 1px solid #ced3d6; box-sizing: border-box; display: inline-block; margin-right: .5rem; vertical-align: middle;}
.legend li:not(:first-child):not(:last-child) {margin: .125rem 0;}
.severe::before {background: #ff0000;}
.alert::before {background: #ff9909;}
.warn::before {background: #ffff00;}
.concern::before {background: #023693;}


label > * {font-size: .6875rem;}
label span {color: #9e9e9e;}
label span:before {content: '-'; margin: 0 .25rem;}
label em {margin-left: .5rem;}
.no-label {align-self: flex-end;}
.info em {color: #1565c0;}
.info em:before {font-family: 'icomoon'; content: '\e901'; color: #1565c0; margin-right: .25rem; vertical-align: bottom; font-size: 1rem;}
/* .success h3, */
.success em {color: #4caf50;}
/* .error h3, */
.error em {color: #f44336;}
.verify i,
/* button:last-child {position: absolute; padding: 0; border: 0; bottom: .75rem; right: .75rem;} */
.search button {background: none; font-size: 1rem; color: #757575;}
button.delete {background: #757575; border-radius: 50%; display: block; width: .8125rem; height: .8125rem; bottom: .85rem;}
button.delete:before, button.delete:after {content: ''; width: 1px; height: .5rem; background: #fff; position: absolute; left: calc(50% - .03125rem); top: 2px;}
button.delete:before {transform: rotate(45deg);}
button.delete:after {transform: rotate(-45deg);}
input[type="checkbox"] + label:before {content: none;}
/* li:not(:first-child):not(:last-child) {margin: .5rem 0;} */
.input-group {display: flex;}
.input-group > *:not(:first-child) {margin-left: .5rem;}

/* layer popup and modal */
.btn-close {position: absolute; right: 1rem; top: 1rem; display: block; width: 1.5rem; height: 1.5rem; cursor: pointer;}
.btn-close:before, .btn-close:after {content: ''; width: 2px; height: 1.5rem; background: #b1b1b1; position: absolute; left: 50%;}
.btn-close:before {transform: rotate(45deg);}
.btn-close:after {transform: rotate(-45deg);}

#mask {content: ''; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999;}
.modal-open {overflow: hidden;}
.modal {position: absolute; width: 100%; height: calc(100% - 5rem); box-sizing: border-box; box-shadow: 3.28px 3.774px 35px 0px rgba(0, 0, 0, 0.34); z-index: 1001; padding: 1rem; background: #fff; display: none; overflow-y: scroll;}
.modal:not(.slide).active {display: block;}
.modal > h3 {font-size: 1.3125rem; justify-content: center; margin-bottom: .5rem; border-bottom: 2px solid #dde7f0; padding-bottom: .25rem;}
.modal .btn-group {margin-top: 1rem;}
.modal .btn-group .btn {flex: 1;}

.slide {position: relative; height: 15rem; display: flex; align-items: center; margin-bottom: 1rem;}
.slide button {position: absolute; width: 3rem; height: 3rem; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, .25); border-radius: .25rem;}
.btn-top a:before,
.slide button:before {content: ''; border: solid #fff; border-width: 0 3px 3px 0; padding: 5px; position: absolute; left: 1rem;}
.slide button.prev:before {transform: rotate(135deg); -webkit-transform: rotate(135deg); left: auto;}
.slide button.next:before {transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.slide .next {right: 0;}
.slide ul {overflow: hidden; height: 100%; flex: 1;}
.slide li, .slide li img {height: 100%;}
.slide li img {width: 100%;}
.slide .dots {position: absolute; bottom: .5rem; right: 1rem;}
.slide .dots span {display: inline-block; width: .75rem; height: .75rem; border-radius: 50%; background: rgba(0,0,0,.5);}
.slide .dots span.active {background: #fff;}

.popup h3 {text-align: center; font-size: 1.5rem; margin-top: 1.5rem;}
.popup h3 strong {color: #ff9909; position: relative; display: inline-flex; align-items: center;}
.popup h3 strong::after {content: ''; border-left: 1px solid #ced3d6; height: 1rem; margin: 0 1rem;}
.popup {background: rgba(248, 250, 251, 0.8); border-radius: .5rem; box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);}
.popup-white {background: #fff;}
.popup .popup-white {z-index: 1; position: relative;}
.popup-contents {padding: 1.5rem;}
.popup-contents > div:not(:last-child) {margin: 1rem 0;}
.popup-contents > div:first-child, .popup-contents > ul.search {margin-top: 0;}
.popup-contents table {margin: 0 -1.5rem;}

.message.active {display: flex; flex-direction: column; align-items: center; width: auto;}
.message h3 {border: 0; font-size: 1.75rem; display: flex; flex-direction: column; align-items: center;}
.message .popup-contents {background: #f1f5f5; border-radius: .5rem; padding: 1rem; text-align: center; font-size: .875rem;}
.message h3 svg {width: 3.5rem; height: 3.5rem; margin: 0 0 .5rem 0;}

.message p + p {font-size: .8125rem;}
.message-box .message {padding-left: 3rem; background: url("../img/info.svg") no-repeat 0 50%/2rem}
.message.warning {background-image: url("../img/warning.svg");}
.message.error {background-image: url("../img/error.svg");}
.message.success {background-image: url("../img/success.svg");}
.info h3 {color: #2196f3;}
.warning h3 {color: #f57f17;}

/* button */
.btn {display: inline-block; color: #fff; padding: .5rem 1.5rem; line-height: 1.375rem; border-radius: 2rem; text-align: center; border: 1px solid transparent; font-size: .875rem;}
.btn-white {background: #fff; color: #4d5256; border-color: #ced3d6;}
.btn-white.active, .btn-white:hover {background: #4d5256; color: #fff;}
.btn-white.active svg, .btn-white:hover svg, .btn-blue svg {fill: #fff;}
.btn-blue {background: #0094e0; border-color: #0094e0;}
.btn-lightblue {background: #2eaaf2; border-color: #2eaaf2;}
.btn-gray {background: #878787; border-color: #878787;}
.btn-gray svg {fill: #fff;}
.btn-gray:hover {background: #e1e4e6; color: #4d5256; border-color: #ced3d6;}

.btn-small {font-size: .75rem; border-radius: .25rem; padding: 0 .5rem;}
.btn-large {font-size: 15px; min-width: 110px; padding: 18px 0; margin: 5px 2px; line-height: 24px; vertical-align: middle;}
.btn-xlarge {font-size: 15px; min-width: 116px; padding: 78px 0; margin: 5px 0; line-height: 24px; vertical-align: middle;}

.btn-disabled, .btn-disabled:hover {border-color: #d9d9d9; background: #d9d9d9; color: #fff; cursor: not-allowed;}
.btn-left {margin-top: 20px; clear: both;}
.btn-center {text-align: center;}
.btn-right {text-align: right; margin-top: 1rem;}
.btn-group {overflow: hidden; display: flex; margin-top: 1rem;}
.btn-group .btn {flex: 1;}
.btn-group .left-side {float: left;}
.btn-group .right-side {float: right;}
.btn-group select {width: auto;}
.divide ul li {width: calc(50% - .25rem); margin: 0 .5rem 0 0; float: left;}
.divide ul li:last-child {margin-right: 0;}
.btn-absolute.btn-group {position: absolute; top: 0; right: .75rem; width: auto; display: flex; align-items: center;}
.btn + .btn {margin-left: .25rem;}

/* table */
table {width: 100%; font-size: .875rem; border: 1px solid #ddd; text-align: center;}
table tr th,
table tr td {padding: .5rem; border-bottom: 1px solid #ddd;}
table tr th {background: #f3f3f3;}
table tr:last-child th, table tr:last-child td {border-bottom: 0;}
.no-ellipsis {white-space: normal;}

.table-scroll-wrap {border-bottom: 1px solid #757575;}
.table-scroll {overflow-y: auto; max-height: 15.4375rem; padding-left: 1rem; margin-left: -1rem; position: relative;}

.horizontal {text-align: left;}
.horizontal tbody tr:hover {box-shadow: none; background: none;}

.write select + select {margin-top: .5rem;}

table.list tr th, table.list tr td {padding: .25rem .5rem;}
table.list tr:nth-child(odd) {background: #f7f7f7;}

.nodata {position: relative; text-align:center; background: #e4e6f5; color: #283593; font-weight: bold;}
.nodata span {position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);}

/* pagination */
.pagination {margin-top: 1rem; text-align: center; font-size: .875rem;}
.pagination li {display: inline-block; margin: 0 .25rem;}
.pagination li a {position: relative; display: block; font-size: 0.875rem; width: 1.25rem;}
.pagination li.active a {background: #ffad00; border-radius: .25rem; color: #fff;}
.btn-back::before,
.pagination li.first a::before, .pagination li.first a::after, .pagination li.prev a::before {content: ''; display: inline-block; padding: 3px; border-style: solid; border-width: 0 2px 2px 0; border-color: #666; margin-bottom: 1px; margin-right: -2px; -webkit-transform: rotate(135deg); transform: rotate(135deg);}
.pagination li.last a::before, .pagination li.last a::after, .pagination li.next a::after {content: ''; display: inline-block; padding: 3px; border-style: solid; border-width: 0 2px 2px 0; border-color: #666; margin-bottom: 1px; margin-left: -2px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

.btn-back {position: absolute; left: 0; top: 1rem; width: 2.25rem;}
.btn-back::before {padding: .375rem; border-width: 0 .25rem .25rem 0;}


/* tab */
ol + .tab {margin-top: 2.5rem;}
.tab {border-bottom: 1px solid #e1e4e6; display: flex; position: relative;}
.tab > li[class*="col-"] {position: relative;}
.tab > li[class*="col-"]:not(:first-child):before, .tab li:not([class*="col-"]):not(:first-child) a::before {content: ''; border-left: 1px solid #e1e4e6; position: absolute; left: 0; height: 1.25rem;}
.tab li a {display: flex; font-size: 1.25rem; line-height: 1.25rem; padding: 0 1.25rem 1rem; color: #4d5256; border-bottom: .5rem solid transparent; justify-content: center; position: relative;}
.tab li:hover a, .tab li.on a {border-image: linear-gradient(0deg, #6acb9b, #7ac3c0);
border-image: -webkit-linear-gradient(0deg, #6acb9b, #7ac3c0);
border-image: -moz-linear-gradient(0deg, #6acb9b, #7ac3c0);
border-image: -ms-linear-gradient(0deg, #6acb9b, #7ac3c0);
color: #4d5256; border-image-slice: 1;}
.tab-contents {position: absolute; padding: 1.5rem 0; left: 0; width: 100%;}
.tab li:not(.on) .tab-contents {display: none;}
.tab-contents > ul li:first-child {margin: 0;}
.tab + .tab-contents {position: relative;}

